# Windows
Thumbs.db
Desktop.ini

# Python
*.pyc
*.pyo
__pycache__/

# Visual Studio Code
.vscode/

# YML files that are in here for reference only
/yamal_files/

# AWS secret sync python scripts
sync_aws_secrets.py
