# Windows
Thumbs.db
Desktop.ini

# Python
*.pyc
*.pyo
__pycache__/

# Visual Studio Code
.vscode/

# YML files that are in here for reference only
/yamal_files/

# AWS secret sync python scripts
sync_aws_secrets.py

# SAM template for API Gateway and Lambda functions
template.yaml

# Internal testing files
response.json
samconfig.toml